@page
@model IndexModel
@{
    ViewData["Title"] = "YoutubeDL";
}

<div class="row">
    <form class="form-horizontal col-xs-10 col-xs-offset-1">
        <div class="form-group col-xs-9">
            <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=" id="inputDownload" />
        </div>
        <div class="btn btn-primary" id="buttonDownload">Download</div>
    </form>
</div>
