@page
@model IndexModel
@{
    ViewData["Title"] = "YoutubeDL";
}

<div class="container" id="containerInput">
    <div class="row">
        <form class="form-horizontal col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=" id="inputDownload" />
                <span class="input-group-btn">
                    <input type="button" name="commit" value="Download" class="btn btn-primary" id="buttonDownload">
                </span>
            </div>
        </form>
    </div>
</div>

<div class="container" id="containerFormats">
    <div class="row">
        <ul class="nav nav-pills nav-justified" role="tablist" id="formatSelection">
            <!-- Video -->
            <li role="presentation" style="text-align:center;vertical-align:middle">
                <span class="glyphicon glyphicon-film" style="font-size:1.5em"></span>
            </li>
            <li role="presentation" class="active"><a href="#video" role="tab" data-toggle="tab" class="video_mp4">MP4</a></li>
            <li role="presentation"><a href="#video" role="tab" data-toggle="tab" class="video_flv">FLV</a></li>
            <li role="presentation"><a href="#video" role="tab" data-toggle="tab" class="video_ogg">OGG</a></li>
            <li role="presentation"><a href="#video" role="tab" data-toggle="tab" class="video_webm">WEBM</a></li>
            <li role="presentation"><a href="#video" role="tab" data-toggle="tab" class="video_mkv">MKV</a></li>
            <li role="presentation"><a href="#video" role="tab" data-toggle="tab" class="video_avi">AVI</a></li>

            <!-- Audio -->
            <li role="presentation" style="text-align:center;vertical-align:middle">
                <span class="glyphicon glyphicon-music" style="font-size:1.5em"></span>
            </li>
            <li role="presentation"><a href="#audio" role="tab" data-toggle="tab" class="audio_aac">AAC</a></li>
            <li role="presentation"><a href="#audio" role="tab" data-toggle="tab" class="audio_flac">FLAC</a></li>
            <li role="presentation"><a href="#audio" role="tab" data-toggle="tab" class="audio_mp3">MP3</a></li>
            <li role="presentation"><a href="#audio" role="tab" data-toggle="tab" class="audio_m4a">M4A</a></li>
            <li role="presentation"><a href="#audio" role="tab" data-toggle="tab" class="audio_opus">OPUS</a></li>
            <li role="presentation"><a href="#audio" role="tab" data-toggle="tab" class="audio_vorbis">VORBIS</a></li>
            <li role="presentation"><a href="#audio" role="tab" data-toggle="tab" class="audio_wav">WAV</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content text-center">
            <div role="tabpanel" class="tab-pane active" id="video">Video</div>
            <div role="tabpanel" class="tab-pane" id="audio">Audio</div>
        </div>
    </div>
</div>

<hr />

<h2>Files</h2>

<div class="panel-group" id="fileEntries" role="tablist">
    <div id="filesEmpty" class="text-center">
        <h4>No files available.</h4>
    </div>

    <!-- Templates used by JQuery for generating the list of downloadable files -->
    <div hidden="hidden">
        <div class="panel panel-default" id="templateFileEntry">
            <div class="panel-heading" role="tab" id="templateHeading">
                <div class="listHeader">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#templateHeading" href="#templateBody">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            PLACEHOLDER
                        </a>
                    </h4>
                    <div id="templateContainerDownloadInfo">
                        <!-- Container for any information that should be displayed to the user on the right side. -->
                        <div id="templateContainerDownloadInfoText" hidden="hidden">
                            <div class="listHeader">
                                <div style="vertical-align:middle" class="infoTextContainer">PLACEHOLDER</div>
                                <img src="~/images/loading.gif" class="pull-right loadingGif" />
                            </div>
                        </div>
                        <div id="templateContainerDownloadInfoProgress" class="downloadInfo" hidden="hidden">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:1%;">0%</div>
                            </div>
                        </div>
                        <div id="templateContainerDownloadInfoButtonDownload" hidden="hidden">
                            <a href="#" class="btn btn-primary btn-sm" style="color:white">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="templateBody" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <ul class="list-group">
                        <!-- TemplateFileSubEntries can be added here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- TemplateSubEntries -->
    <ul hidden="hidden">
        <li class="list-group-item listHeader" id="templateFileSubEntry">
            <span>PLACEHOLDER</span>
            <div id="templateContainerButtonDownload" hidden="hidden">
                <a href="#" class="btn btn-primary btn-sm" style="color:white">Download</a>
            </div>
            <img src="~/images/loading.gif" id="collapseOneLoading" hidden="hidden" />
        </li>
    </ul>
</div>