@page
@model IndexModel
@{
    ViewData["Title"] = "YoutubeDL";
}

<div class="container" id="containerInput">
    <div class="row">
        <form class="form-horizontal col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=" id="inputDownload" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="formatDisplay">
                        <span class="glyphicon glyphicon-film"></span>
                        <span id="formatName">MP4</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="formatSelection">
                        <!-- Video -->
                        <li class="dropdown-header"><span class="glyphicon glyphicon-film"> Video:</span></li>
                        <li><a href="#" class="video_mp4">MP4</a></li>
                        <li><a href="#" class="video_flv">FLV</a></li>
                        <li><a href="#" class="video_ogg">OGG</a></li>
                        <li><a href="#" class="video_webm">WEBM</a></li>
                        <li><a href="#" class="video_mkv">MKV</a></li>
                        <li><a href="#" class="video_avi">AVI</a></li>

                        <!-- Audio -->
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header"><span class="glyphicon glyphicon-music"> Audio:</span></li>
                        <li><a href="#" class="audio_mp3">MP3</a></li>
                        <li><a href="#" class="audio_aac">AAC</a></li>
                        <li><a href="#" class="audio_flac">FLAC</a></li>
                        <li><a href="#" class="audio_opus">OPUS</a></li>
                        <li><a href="#" class="audio_vorbis">VORBIS</a></li>
                        <li><a href="#" class="audio_wav">WAV</a></li>
                    </ul>
                </div>

                <span class="input-group-btn">
                    <input type="button" value="Download" class="btn btn-primary" id="buttonDownload">
                </span>
            </div>
        </form>
    </div>
</div>

<hr />

<h2>Files</h2>

<div class="panel-group" id="fileEntries" role="tablist">
    <div id="filesTextContainer" class="text-center">
        <h4>No files available.</h4>
    </div>

    <!-- Templates used by JQuery for generating the list of downloadable files -->
    <div hidden="hidden">
        <div class="panel panel-default" id="templateFileEntry">
            <div class="panel-heading" role="tab" id="templateHeading">
                <div class="listHeader">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#templateHeading" href="#templateBody">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            PLACEHOLDER
                        </a>
                    </h4>
                    <div id="templateContainerDownloadInfo">
                        <!-- Container for any information that should be displayed to the user on the right side. -->
                        <div id="templateContainerDownloadInfoText" hidden="hidden">
                            <div class="listHeader">
                                <div style="vertical-align:middle" class="infoTextContainer">PLACEHOLDER</div>
                                <img src="~/images/loading.gif" class="pull-right loadingGif" />
                            </div>
                        </div>
                        <div id="templateContainerDownloadInfoProgress" class="downloadInfoProgress" hidden="hidden">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:1%;">0%</div>
                            </div>
                        </div>
                        <div id="templateContainerDownloadInfoButtonDownload" hidden="hidden">
                            <a href="#" class="btn btn-primary btn-sm" style="color:white">Download as .zip</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="templateBody" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <ul class="list-group">
                        <!-- TemplateFileSubEntries can be added here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- TemplateSubEntries -->
    <ul hidden="hidden">
        <li class="list-group-item" id="templateFileSubEntry">
            <div class="fileSubEntry">
                <span>PLACEHOLDER</span>
                <div id="templateContainerDownloadInfoText" hidden="hidden">
                    <div class="listHeader">
                        <div style="vertical-align:middle" class="infoTextContainer">PLACEHOLDER</div>
                        <img src="~/images/loading.gif" class="pull-right loadingGif" />
                    </div>
                </div>
                <div id="templateContainerDownloadInfoProgress" class="downloadInfoProgress" hidden="hidden">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:1%;">1%</div>
                    </div>
                </div>
                <div id="templateContainerDownloadInfoButtonDownload" hidden="hidden">
                    <a href="#" class="btn btn-primary btn-sm" style="color:white">Download</a>
                </div>
            </div>
        </li>
    </ul>
</div>